<h2>{{model.name}}</h2>
<p>Description: {{model.description}}</p>
<p>Status: {{model.status}}</p>
<p>{{timeElapsed}}</p>
<button {{action 'closeTicket' model}}>Close this Ticket</button>

{{#link-to 'index'}}Home{{/link-to}}
